/* RESET DEFINITIVO DO VITE */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100vw;
  min-height: 100vh;
  max-width: none !important; /* Quebra a barreira dos 1280px */
  margin: 0 !important;
  padding: 0 !important;
  background-color: #f3f4f6; /* O nosso fundo cinza claro */
  overflow-x: hidden; /* Evita barra de rolagem horizontal */
}